.menu {
    margin-top: 30px;
    height: 0;
    z-index: 4;
}

.img {
    background-image: url(../img/leftimage-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: none;
    filter: brightness(20%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    &.active {
        display: flex;
    }
}

.menu__ul {
    width: 50px;
    margin-left: 30px;
    background-color: #444;
    border-radius: 24px;
    cursor: pointer;
    padding: 10px 0;
    display: none;

    &.active {
        display: block;
        transition: all 0.5s linear;
    }
}

.menu__bar {
    width: 50px;
    margin-left: 30px;
    background-color: #444;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;

    &.active {
        display: none;
    }
}

.menu__link:hover {
    & i,
    span {
        color: #2196f3;
        transition: all 0.2s linear;
    }

    & i {
        border-right: 4px solid #2196f3;
    }
}

.menu__li {
    width: 250px;

    & span {
        padding-left: 20px;
        color: rgba(255, 255, 255, 0.9);
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        width: 200px;
    }
}

.close {
    display: inline;
}

.fa {
    &-solid {
        color: rgba(255, 255, 255, 0.9);
        font-size: 20px;
        margin: 16px 0;
        width: 50px;
        text-align: center;
    }

    &-bars {
        display: flex;
        height: 50px;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
}

.fa-bars:hover,
.fa-xmark:hover {
    color: rgba(255, 255, 255, 0.5);
}
